html {
    height: 100%;
}
body {
    min-height: 100%;
    position: relative;
    margin: 0;
    padding: 0;
}
section {
    position: absolute;
    top: 80px;
    margin-left: 20px;
    margin-right: 20px;
}
ul {
    margin-top: 0;
}
nav ul{
    height: 65px;
    background: #424242;
    position: fixed;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
}
nav li{
	display:inline-block;
	width: 180px;
	height:65px;
	margin:0px;
	border-right: 1px solid #CCCCCC;
	text-align: center;
	line-height: 65px;
}
nav li a{
	display: block;
	text-decoration: none;
	color:white;
}
footer {
    display : table-row;
    height: 200px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #2c2c2c;
}
#footer_message {
    display: block;
    margin-top: 20px;
    font-size: 18px;
    text-align: center;
    color: rgb(255, 255, 255);
}
#copyrights {
    display: block;
    position: relative;
    text-align: center;
    color: rgb(255, 255, 255);
}
#first {
    display: block;
    position: relative;
    margin-top: 3px;
    width: 3.2%;
}